<div id="sidemenu" class="menu-collapsed" *ngIf="menuOptions">
  <!-- Header -->
  <div id="header">
    <div id="title">
      <span>Covid Application</span>
    </div>
    <div id="menu-btn" (click)="menuShow()">
      <div class="btn-hamburger"></div>
      <div class="btn-hamburger"></div>
      <div class="btn-hamburger"></div>
    </div>
  </div>
  <!-- Profile -->
  <div id="profile">
    <div id="photo"><img src="../../../assets/img/monkeyface.png" alt="monkey"></div>
    <div id="name"><span>{{user}}</span></div>
  </div>
  <!-- Items -->
  <div id="menu-items">
    <div class="item" *ngFor="let item of menuOptions">
      <a [routerLink]="['/'] + item.url" routerLinkActive="active">
        <div class="icon">
          <img src="{{item.icon}}" alt="icon">
        </div>
        <div class="title">
          {{item.title}}
        </div>
      </a>
    </div>

    <div class="item separator"></div>
    <div id="menu-items">
      <div class="item">
        <a href="#">
          <div class="icon">
            <img src="../../../assets/img/logout.png" alt="">
          </div>
          <div class="title">
            Logout
          </div>
        </a>
      </div>

    </div>
  </div>
