.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-content: center;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-color: var(--bgcolor);
  color: whitesmoke;
}

.map {
  margin: 15px 15px 5px 15px;
  padding: 5px;
  background-color: #FCF6F5FF;
  border: 1px solid;
}

.wrap-charts {
  display: flex;
  justify-content: center;
}

.pie {
  background-color: whitesmoke;
  margin: 15px 15px 5px 15px;
  width: 45%;
  border: 1px solid;
}

.bar {
  background-color: whitesmoke;
  width: 45%;
  margin-top: 15px;
  border: 1px solid;
}

h2 {
  text-align: center;
}
