<app-header></app-header>
<div class="container">
  <div class="title">
    <h1>Home Covid Aplication</h1>
  </div>
  <div class="map">
    <h2>Date: Mayo 2021</h2>
    <app-map></app-map>
  </div>
  <div class="wrap-charts">
    <div class="pie">
      <h2>Covid by continents</h2>
      <app-chart-continent></app-chart-continent>
    </div>
    <div class="bar">
      <h2>Covid by continents</h2>
      <app-chart-bar-continent></app-chart-bar-continent>
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>
