/* You can add global styles to this file, and also import other style files */
@import '~@sweetalert2/themes/dark/dark.scss';

:root {
  --width: 300px;
  --padding: 10px;
  --bgcolor: rgb(52, 52, 52);
  --hovercolor: rgb(23, 23, 23);
  --width-collapsed: 50px;
}

html,
body {
  height: 100%;
}

body {
  background-color: #032c55;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  margin-left: var(--width-collapsed);
}

.body-expanded {
  margin-left: var(--width);
  transition: all 1s ease-in;
}
